A. Education

Bachelor’s degree, Associate degree or 3+ years of equivalent experience
B. Qualifications/Experience

2+ years of experience working with healthcare data, preferably Oracle Health EHR (formerly Cerner)
Python/Spark programming – intermediate skills
SQL (MS SQL preferred) – intermediate skills
Business Intelligence (e.g. Tableau, Power BI, etc.) – intermediate skills
Spreadsheets (Excel) – intermediate skills
C. Special Skills/Knowledge

Strong problem solving/analysis and customer service skills
Strong internal and external customer service skills
Strong communication and teamwork skills
Ability to apply mathematical concepts to data